@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto/static/Roboto-Bold.ttf);
  font-weight: bold;
  font-style: normal;
}
* {
  box-sizing: border-box;
}

body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.container {
  --w: 800px;
  width: var(--w);
  margin: 40px calc((100% - var(--w)) / 2) 0;
  display: inline-block;
}

.logo {
  float: left;
  height: 40px;
}

.main-nav {
  float: right;
}
nav > a {
  float: left;
  font-size: 20px;
  line-height: 20px;
  color: #333;
  text-decoration: none;
  padding: 10px 0px;
  margin-left: 30px;
  cursor: pointer;
}
nav > a:first-child {
  margin-left: 0;
}
nav > a:hover {
  text-decoration: underline;
  color: #000;
}

.left-column {
  float: left;
  width: 40%;
  margin-top: 25px;
}

.main-title {
  font-size: 60px;
  margin: 0;
  font-weight: lighter;
}
div > p:nth-of-type(2) {
  font-size: 50px;
  margin: 0;
  font-family: Roboto;
}

div > p:nth-of-type(3) {
  color: 555;
}
main > div > div:nth-of-type(1) {
  width: 100px;
  height: 3px;
  background-color: #649;
}
.btn-group {
  display: inline-block;
}
main > div > div > a {
}
.btn {
  float: left;
  font-size: 18px;
  padding: 10px 25px;
  line-height: 20px;
  border-radius: 30px;
  border: 3px solid #649;
  background-color: #649;
  color: white;
  text-decoration: none;
  user-select: none;
}
.btn.btn-white {
  margin-left: 20px;
  background-color: #fff;
  color: #333;
}
div > div:nth-of-type(2) > a {
  box-shadow: 0px 4px 8px #0004;
}

.btn:hover {
  box-shadow: 0px 6px 12px #0007;
}
main > img {
  float: right;
  width: 60%;
}

footer {
  margin-bottom: 40px;
}
footer > div {
  float: left;
}

.copyright {
  float: right;
  margin: 0;
}
