* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
}
header,
main,
footer {
  --w: 800px;
  width: var(--w);
  margin: 0 calc((100% - var(--w)) / 2);
}

header {
  background-color: yellow;
}

header > img {
}

html > body > header > nav {
}
nav > a {
}
nav > a:hover {
}
main {
  background-color: green;
}
main > div {
}

div > p:nth-child(1) {
}
div > p:nth-of-type(2) {
}

div > p:nth-of-type(2):after {
}

div > p:nth-of-type(3) {
}
main > div > div:nth-of-type(2) {
}
main > div > div > a {
}
div > div:nth-of-type(2) > a:first-child {
}
div > div:nth-of-type(2) > a:last-child {
}
.div > a:hover {
}
main > img {
}

footer {
  background-color: red;
}
footer > div {
}

footer > div > a {
}
footer > div > a:hover {
}
footer > p {
}
